click==8.1.8
dlib==19.24.8
dlib-bin==19.24.6
Flask==2.0.1
Flask-Cors==3.0.10
gevent==23.9.1
greenlet==3.2.2
gunicorn==21.2.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.0
MarkupSafe==3.0.2
numpy==1.23.5
opencv-python==4.6.0.66
packaging==25.0
python-dotenv==1.0.0
scikit-learn==1.2.2
scipy==1.15.2
six==1.17.0
threadpoolctl==3.6.0
Werkzeug==2.0.1
zope.event==5.0
zope.interface==7.2
